<div class="row">
    <mat-toolbar color="primary" style="position: fixed; z-index: 10000;">
        
          <!-- mat-button (click)="drawer.toggle()"> -->
          <!-- <mat-icon>menu</mat-icon> -->          
          <!-- <img style="height: 42px; vertical-align: middle;
          border-style: none; color:black" class="ml-2" src="https://banner2.cleanpng.com/20180510/auq/kisspng-dealertrack-holdings-inc-app-store-asr-pro-llc-5af4d8d9bad926.1211693415259957377653.jpg" alt=""> -->
       
        <!-- <span class="">Cox Automotive</span> -->
        <span class="ml-3">Dealertrack</span>
        <span class="example-spacer"></span>
        <button mat-button>Dashboard</button>
        <button mat-button>Adminstration</button>
        <button mat-button>My Leads</button>
        <button mat-button class="mr-2">Logout</button>
      </mat-toolbar>
    
</div>