.custom-mat-tab-header {
  margin: 0 auto !important;
  width: 80% !important;
}

.table td {
  vertical-align: middle !important;

}


.table thead th {
  vertical-align: bottom;
  border-top: none !important;
  font-size: smaller;
  color: gray;
}
