<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 custom-padding">
            <app-program-settings></app-program-settings>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 custom-padding">
            <app-program-preference></app-program-preference>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 custom-padding">
            <app-program-frequency></app-program-frequency>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 custom-padding">
           <app-incentive-handling></app-incentive-handling>
        </div>
    </div>    
</div>